<div class="p-5 mb-4 bh-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">About</h1>
        <p class="col-md-8 fs-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam assumenda exercitationem nulla adipisci qui
            commodi blanditiis nesciunt sunt impedit atque odio sint porro voluptates corrupti quis dicta, voluptatem
            excepturi omnis?
        </p>
        <button class="btn btn-danger btn-lg">Detay</button>
    </div>
</div>